body {
	font-family: 'Lora';
	font-size: 18px;
	float:left;
} 

h1,h2,h3, h4, h5 {
	font-family: 'Josefin Sans';
	text-align:center;
}

h1 {
	font-size: 90pt;
	color:black;
	font-weight: 300;
	position: relative;
	top: 50px;
}

h2 {
	font-weight: 600;
	font-size: 35px;
}

h3 {
	font-weight: 300;
	font-size: 55px;
}

h4 {
	font-size: 50px;
	color: black;
	position: relative;
	top: 100px;
}

h5 {
	font-size: 30px;
	color: black;
	position: relative;
	top: 100px;
}

p {
	line-height: 1.5em;
	margin-bottom: .8em;
	margin-top: .8em;
}

/*img {
	margin: 20px 0 20px 0;
}*/

/*.story {
	float: left;
	width: 33%;
	margin: 5px;
	padding: 4%;
	text-align: center;
	margin: 10;
	margin-left: 0 auto;
	margin-right: 0 auto;
}*/

.teasers {
	width: 33%;
	display: inline-block;
	vertical-align: top;
}

#row-1 {
	float:left;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 40px;
}

#teaser-holder {
	width:100%;
}

#teaser-1 {
	background-image: url(http://i.imgur.com/zcWGxpw.png);
	background-size: 100%;
	height: 450px;
	background-repeat: no-repeat;
}

#teaser-1:hover {
}

#teaser-2 {
	background-image: url(http://i.imgur.com/8gd64QV.png);
	background-size: 100%;
	height: 450px;
	background-repeat: no-repeat;
}

#teaser-2:hover {
}

#teaser-3 {
	background-image: url(http://i.imgur.com/vjG8Bw8.png);
	background-size: 100%;
	height: 450px;
	background-repeat: no-repeat;
}

#teaser-3:hover {
}

.teaser-text {
	padding-top:80px;
	padding-right: 30px;
	padding-left: 30px;
	text-align:center;
}

/*
#feature-img {
	max-width: 100%;
	min-width: 60%;
}

.story-img {
	width: 90%;
}
*/

/*.story-box-blue {
	background-color: rgba(16, 204, 193, 1);
	width: 20%;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
}*/

/*.deck {
	font-size: 55px;
	color: white;
}

#authors {
	width:400px;
	left:10%;
}*/

/*
.back-link {
	text-decoration: none;
	text-align: center;
}


.story-link {
	text-decoration: none;
}

#story-yellow {
	background-color: rgba(255, 213, 25, 1);
}

*/

#main-content {
	clear:both;
	width: 80%;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

/*.full-photo{
	background-size: cover;
	height: 700px;
	width: 100%;
	background-image: url(http://i.imgur.com/raUdSC5.jpg); 
}*/

.section {
	padding: 0 10% 0 10%;
}

.row {
	text-align: center;
	position: relative;
}

.end-circle-yellow {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: rgba(255, 213, 25, 1);
    position:relative;
    margin:25px auto;
    display:inline-block;
}

.end-circle-blue {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: rgba(255, 0 , 113, 1);
    position:relative;
    margin:25px auto;
    display:inline-block;
}

.pull-quote-holder {
	position:relative;
}

.pull-quote {
	color: rgba(255, 0 , 113, 1);
	text-align: right;
	font-style: italic;
	font-size: 35px;
	width:550px;
	margin: 30px;
	line-height: 1.15em;
}

.circle-1 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: rgba(255, 213, 25, .5);
	position: absolute;
	left: 630px;
	top: 20px;
}

.circle-2 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: rgba(255, 0 , 113, .5);
	position:absolute;
	left: 650px;
	top: 20px;
}

/*
#half-circle-1 {
	 height:400px;
     width:800px;
     border-radius: 0 0 800px 800px;
     background-color:rgba(255, 255, 255, .75);
     position: absolute;
     left: 35px;
}

#half-circle-2 {
	 height:250px;
     width:500px;
     border-radius: 500px 500px 0 0;
     background-color:rgba(255, 255, 255, .75);
     position: absolute;
     left: 800px;
     top: 450px;
}
*/

#controls {
	position:fixed;
	top: 5%;
	right: 2%;
}

.circle-controls {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color:rgba(255, 0 , 113, 1);
	margin: 6px;
}

.circle-controls:hover {
	opacity: 1;
}



/*.teaser-number {
	position: absolute;
	font-size: 350px;
	color: rgba(255, 0 , 113, .5);
}*/

.body-image {
	margin: 20px 0 20px 0;
}

#body-image-1 {
	margin: 0 0 20px 0;
}