body {
	font-family: 'Lora';
	background-color: #FFD519;
} 

h1 {
	font-family: 'Josefin Sans';
	font-size: 53pt;
	text-align:center;
}


h2 {
	font-family: 'Josefin Sans';
	font-weight: 300;
	text-align:center;
}

.story {
	background-color: #10CCC1;
	float: left;
	width: 30%;
	margin: 5px;
	padding: 5px;
}

