body {
	font-family: 'Lora';
	font-size: 18px;
	/*background-color: #FFD519;*/
	float:left;
} 

h1,h2,h3{
	font-family: 'Josefin Sans';
	text-align:center;
}

h1 {
	font-size: 53pt;
}

h2, h3 {
	font-weight: 300;
	font-size: 35px;
}

.story {
	background-color: #10CCC1;
	float: left;
	width: 30%;
	margin: 5px;
	padding: 1%;
}

#feature-img {
	max-width: 100%;
	min-width: 60%;
}

.story-img {
	width: 90%;
}

.story-box {
	background-color: #FFD519;
	width: 33.333%;
	text-align: center;
	margin-left: 33.333%;
	margin-right: 33.333%;
	
}

.story-box-blue {
	background-color: #10CCC1;
	width: 33.333%;
	text-align: center;
	margin-left: 33.333%;
	margin-right: 33.333%;
	
}


.back-link {
	text-decoration: none;
	text-align: center;
}

.story-link {
	text-decoration: none;
}

#story-yellow {
	background-color: #FFD519;
}

.full-photo{
	background-size: cover;
	height: 700px;
	width: 100%;
}

#full-photo-1 {
	background-image: url(http://media-cache-ak0.pinimg.com/originals/d8/63/4f/d8634f2e722cdc60a6a6a485dce134a3.jpg); 
}

#full-photo-2 {
	background-image: url(http://f.cl.ly/items/1x2D26232c011c1k123u/Wagon17.jpg); 
	margin: 100px 0px 0px 0px;
}

#full-photo-3 {
	background-image: url(http://f.cl.ly/items/15400J3i1Q313H2y1Q0M/Wagon7.jpg); 
}

#full-photo-4 {
	background-image: url(http://f.cl.ly/items/1Q0Z290H3M1Q0h1b1x21/Wagon11.jpg); 
}

#main-content {
	clear:both;
}

.section {
	width: 60%;
	margin: 0 auto;
}