body {
	font-family: 'Lora';
	/*background-color: #FFD519;*/
} 

h1 {
	font-family: 'Josefin Sans';
	font-size: 53pt;
	text-align:center;
}


h2 {
	font-family: 'Josefin Sans';
	font-weight: 300;
	text-align:center;
}

h3 {
	font-family: 'Josefin Sans';
	font-weight: 300;
	text-align: center;
}

.story {
	background-color: #10CCC1;
	float: left;
	width: 30%;
	margin: 5px;
	padding: 1%;
}

#feature-img {
	max-width: 100%;
	min-width: 60%;
}

.story-img {
	width: 90%;
}

#story-yellow {
	background-color: #FFD519;
}

.full-photo1 {
	background: url(http://media-cache-ak0.pinimg.com/originals/d8/63/4f/d8634f2e722cdc60a6a6a485dce134a3.jpg); 
	background-size: cover;
	height: 700px;
}

.full-photo2 {
	background: url(http://f.cl.ly/items/1Q0Z290H3M1Q0h1b1x21/Wagon11.jpg); 
	background-size: cover;
	height: 700px;
}

.full-photo3 {
	background: url(http://f.cl.ly/items/1x2D26232c011c1k123u/Wagon17.jpg); 
	background-size: cover;
	height: 700px;
}

.full-photo4 {
	background: url(http://f.cl.ly/items/15400J3i1Q313H2y1Q0M/Wagon7.jpg); 
	background-size: cover;
	height: 700px;
}
